
  #our-values-carousel .owl-nav{ 
  	margin-left: 200px;
    display: flex;
    gap: 8px;
    margin-top: 60px;
  }
  
  #our-values-carousel .owl-nav button{
  	width: 40px;
    height: 40px;
    border-radius: 9px;
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    transition: linear 0.3s;
  }

  #our-values-carousel .owl-nav button:hover{
  	background-color: #F7F7F7;
  }

  #our-values-carousel .owl-nav button span{ display: none; }
  
  .our-client-testimonial-btn-holder { margin-top: -68px; }
  

  #our-values-carousel .owl-nav .owl-prev,
  #our-values-carousel .owl-nav .owl-next{
  	background-position: center;
    background-size: 7px 12px;
    background-repeat: no-repeat;
  }
  
  #our-values-carousel .owl-nav .owl-prev{
  	background-image: url(https://uploads-ssl.webflow.com/636333d38401f1c84fb4d0e0/63647c23744bd4f09300ed66_angle-left.png);
  }
  
  #our-values-carousel .owl-nav .owl-next{
  	background-image: url(https://uploads-ssl.webflow.com/636333d38401f1c84fb4d0e0/63647c230826494b033597c8_angle-right.png);
  }
  
  